<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login com Google</title>
</head>
<body>
  <h1>Autenticado</h1>

  <% for (let prop in tokens) { %>
    <h2><%= prop %> : <%= tokens[prop] %></h2>
  <% } %>
</body>
</html>